apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: build-dashboard-data
  labels:
    app: build-dashboard
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
