apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: release-readiness-data
  labels:
    app: release-readiness
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
