apiVersion: v1
kind: Service
metadata:
  name: release-readiness
  labels:
    app: release-readiness
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: release-readiness
